@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(to bottom, rgb(252, 37, 202), rgb(45, 92, 249));
    width: 100%;
    height: 100%;
}


.educationfield{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 190px;
}

.educationinput{
    height: 30%;
    padding-inline: 20px;
    font-size: 30px;
    width: 80%;
    border-radius: 4px;
}

.skillinput1{
    height: 83.33333%;
    padding-inline:20px;
    font-size:30px;
    width:80%;
    margin-bottom: 8px;
    margin-left: 32px;
    border-radius: 4px;
}
.skillinput2{
    height: 50px;
    padding-inline:20px;
    font-size:30px;
    width:80%;
    margin-bottom: 8px;
    border-radius: 4px;
}

#services {
    overflow-y: auto;
    scroll-behavior: smooth;
}
.myscroll {
    overflow-y: auto;
    scroll-behavior: smooth;

}

.createdDiv{
    width: 100%;
    height:33.333333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linkhover:hover{
    border:1px solid blue;
    background-color: blue;

}



input[type='file'] {
    display: none;
}
.bgcolor{
    background-color: #213547;
}

.picturebutton {
    width: 100px;
    height: 100px;
    border-radius: 500;
}

.picture {
    width: 100%;
    height: 100%;
}
.myflex {
    display: flex;
    flex-direction: column;
}

#card {
    width: 60%;
    height: 100%;
}

ul li {
    display: inline;
    margin: 5px;
}

a {
    font-weight: 500;
    color: #edeef3;
    text-decoration: inherit;
}
a:hover {
    color: #f9f9f9;
    
    
}

.mylink:hover{
    padding:10px;
    padding-inline: 15px;
    background-image: radial-gradient(rgb(241, 0, 254) ,rgb(82, 113, 238) );
    transform: scale(1.2) translateX(10px);
    border-radius: 3000px;
}


input:hover {
    border: 2px solid rgb(7, 7, 7);
}

body {
    margin: 0;

    width: 100%;
    height: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
.myeffect:focus-within {
    border: 3px solid black;
}

button {
    border-radius: 8px;
    border: 2px solid rgb(21, 20, 20);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1e1d1d;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: black;
    background-color: rgb(21, 20, 20);
}
.buttonclass2:hover {
    border-color: rgb(0, 255, 47);
    background-color: rgb(78, 251, 139);
    color: black;
}
.buttonclass1:hover {
    border-color: rgb(6, 42, 248);
    background-color: rgb(78, 83, 251);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
